*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

.center{
	width: 1000px;	
	margin: 0 auto;
	padding: 30px;
	background-color: gray;
}

.artigo{
}